i {
    color: black;
    font-style: normal;
    font-weight: bold;
}

.app-alert {
    &.alert {
        color: black;
    }
}

.row {
    margin: 0px;
}

img {
    width: 25px;
    cursor: pointer;
}

#demo {
    color: blue;
    font-size: 13px;
    text-decoration: underline;
}

#demo:hover {
    text-decoration: underline;
    color: blue;
    font-size: 14px;
}

#iconeimg {
    width: 25px;
}