<ng-container *ngIf="this.navigationList">
  <ng-container *ngFor="let breadcrumb of navigationList; let last = last">
    <div class="page-header" *ngIf="last && breadcrumb.breadcrumbs !== false">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <ng-container *ngFor="let breadcrumb of navigationList; let last = last"><h4 class="m-b-10" *ngIf="last"><i class="{{breadcrumb.icon}}"></i> {{breadcrumb.title}}</h4></ng-container>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
