<div *ngIf="!adminGotTheRole" class="col-sm-12">
    <app-alert type="danger" dismiss="true" class="alert">
        <h3>Vous ne posséde pas la permission de consulter les agences!<br> Veusillez contacter votre administrateur pour cette permission</h3>
    </app-alert>
</div>
<div id="child4" class="col-sm-12 m-b-15">
    <div id="main-search" class="main-search open">
        <div class="input-group">

            <div class="dropdown">
                <input type="text" placeholder="search" id="newsearch" (click)="myFunction()" (keyup)="filterFunctionAdministration()" value="{{Nomfrcategori}}">
                


                <div id="myDropdown" class="dropdown-content">
                    <perfect-scrollbar [style.max-height]="(window.innerHeight-500)+'px'">
                        <dl *ngFor="let administration of administrations;let administrationIndex=index;">
                            <dt style="padding-left: 2%;" id="liste" (click)="clickedNomfr(administrationIndex);deuxiemClick(administrationIndex)">{{administration.nip}}</dt>
                           

                        </dl>
                        <dl *ngFor="let categorie of categories;let categorieIndex=index;">
                            <dt style="padding-left: 2%;" id="liste" (click)="myFunction();clickedcaegories(categorieIndex)">{{categorie.nomfr}}</dt>
                        </dl>
                    </perfect-scrollbar>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="parent4" *ngIf="adminGotTheRole" class="row">
    <div id="initialmap" class="{{clickedIndex!==-1 ? 'col-sm-6' : 'col-sm-12'}}">
        <app-map></app-map>
    </div>

    <div class="col-sm-6" *ngIf="clickedIndex!==-1" style="padding-bottom:70%;">

        <div class="col-md-12">
            <app-card [options]="false" cardTitle="Details de l'agence">
                <div style="height: 280px;">
                    <div class="row">
                        <div class="col-md-11">

                        </div>
                        <div class="col-md-1"> <img src="assets/images/close.png" (click)="close()" id="closeboutton">
                        </div>
                    </div>
                    <app-agree-details></app-agree-details>
                </div>

            </app-card>
        </div>

    </div>
</div>